html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  background-color: #282828;
  color: #fff;
  max-width: 100vw;
}

header {
  background-color: #0b0b0b;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10vh;
  border-bottom: 2px solid #282828;
}

header .logo {
  display: flex;
  gap: 15px;
}

header .menu {
  display: flex;
  gap: 30px;
}

header .menu li a {
  font-family: "Chalet";
  padding: 30px;
  font-weight: bolder;
  font-size: 15px;
  color: #e8e8e8;
}

header .menu li a:hover {
  border-bottom: 2px solid #fff;
}

#home {
  background-color: aqua;
  display: flex;
  position: relative;
  min-height: calc(100vh - 80px);
}

#home::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.85),
    rgba(0, 0, 0, 0.7) 35%,
    transparent 65%
  );
}

#home .background {
  width: 100%;
  object-fit: cover;
}

#home .info {
  z-index: 1;
  position: absolute;
  display: flex;
  min-height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  padding: 80px 80px 80px 170px;
  max-width: 70vw;
}

#home .info img {
  max-width: 150px;
}

#home .info .games-list {
  display: flex;
  gap: 32px;
}

#home .info .title {
  font-family: "ChaletComprime";
  font-size: 55px;
}

#home .info .text {
  font-family: "Chalet";
  font-size: 18px;
  line-height: 1.6;
}

.buy,
.btn-platforms {
  background-color: rgba(255, 255, 255, 0.1);
  border: 0.5px solid #fff;
  border-radius: 4px;
  font-family: "ChaletComprime";
  text-align: center;
  font-size: 28px;
  padding: 20px 40px;
  text-transform: uppercase;
  width: 50%;
  transition: all 0.3s ease-in;
}

.btn-platforms {
  cursor: pointer;
  color: #fff;
  width: 100%;
}

.buy:hover {
  background-color: #fff;
  color: #000;
}

#buy-now .game-card {
  width: 270px;
}

#buy-now {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 50px;
  align-items: center;
}

#buy-now .title {
  font-family: "ChaletComprime";
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 50px;
}

#buy-now .card {
  display: flex;
  flex-direction: column;
  background-color: #000;
  align-items: center;
  width: 50%;
  padding: 80px;
  border-radius: 10px;
  gap: 40px;
}

#buy-now .info {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#buy-now .info p {
  color: #e8e8e8;
  font-family: "Chalet";
  font-size: 16px;
  line-height: 1.6;
}

#buy-now .info h3 {
  font-family: "ChaletComprime";
  font-size: 52px;
  font-weight: 700;
}

#buy-now .info .platforms {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
}

#buy-now .btn-platforms .platforms {
  margin-top: 10px;
  display: none;
  flex-direction: column;
  gap: 20px;
  transition: all 0.3s ease-in;
  opacity: 0;
}

#buy-now .btn-platforms .platforms.ativo {
  display: flex;
  opacity: 1;
}

#buy-now .btn-platforms .platforms li {
  padding: 20px;
  transition: all 0.3s ease-in;
}

#buy-now .btn-platforms .platforms li:nth-child(1) {
  border: 1px solid #387a26;
}

#buy-now .btn-platforms .platforms li:nth-child(1):hover {
  background-color: #387a26;
}
#buy-now .btn-platforms .platforms li:nth-child(2) {
  border: 1px solid #387a26;
}

#buy-now .btn-platforms .platforms li:nth-child(2):hover {
  background-color: #387a26;
}

#buy-now .btn-platforms .platforms li:nth-child(3) {
  border: 1px solid #00439c;
}

#buy-now .btn-platforms .platforms li:nth-child(3):hover {
  background-color: #00439c;
}

#buy-now .btn-platforms .platforms li:nth-child(4) {
  border: 1px solid #00439c;
}

#buy-now .btn-platforms .platforms li:nth-child(4):hover {
  background-color: #00439c;
}
#buy-now .btn-platforms .platforms li:nth-child(5) {
  border: 1px solid red;
}

#buy-now .btn-platforms .platforms li:nth-child(5):hover {
  background-color: red;
}
